@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter.ttf') format('truetype');
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #FAFAFA;
    overflow: auto;
    height: auto;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url('../images/backdrop3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    gap: 50px;
}


.container {
    display: flex;
    flex-direction: column;
    padding: 70px 250px;
    justify-content: flex-start;
    min-height: 0;
    flex: 1;
}

.job-image {
    width: 50%;
    min-width: 500px;
    position: relative;
    display: flex;
    align-self: stretch;
    min-height: 300px;
    height: auto;
}

.job-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 25%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.job-header {
    display: flex;
    gap: 50px;
    align-items: stretch;
    color: #FAFAFA;
}


.job-header>div {
    flex: 1;
    /* Ensures each div takes up 50% of the available space */
}

.job-title {
    display: flex;
    flex-direction: column;
    flex: 1;
}


.job-title>h1 {
    margin: 0 0 0 0;
    /* Top, right, bottom, and left */
    letter-spacing: 2px;
}

.job-location {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
    font-family: 'Inter';
    font-style: italic;

}

.job-location img {
    margin-right: 5px;
}

hr {
    width: 100%;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 30px;
}


.job-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    padding: 0 10px;
}


.job-tag {
    background-color: #412BAD;
    color: #FFF;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: 'Inter';
    font-weight: 500;
    align-items: center;
    display: flex;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: auto;
    position: relative;

}

.buttons button[type="submit"],
button[type="button"] {
    width: 100%;
    font-size: 20px;
    font-family: 'Inter';
    text-align: center;
    justify-content: center;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.buttons button[type="submit"] img,
button[type="button"] img {
    font-size: 12px;
    margin-right: 5px;
}

#apply-button {
    color: #FFF;
    background-color: #FF5EB2;
    font-weight: 700;
}

#apply-button:hover {
    background-color: #E04C9D;
}

#share-button {
    width: 200px;
    display: flex;
    align-items: center;
}

#share-button:hover {
    background-color: #e0e0e0;
}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1280px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 70px 100px;
        justify-content: center;
    }
}

@media screen and (max-width: 1120px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 70px;
        justify-content: center;
    }

    .job-tags {
        gap: 5px;
    }

    .job-image {
        height: 340px;
    }
}


.job-description {
    height: 100%;
    background-color: #FAFAFA;
    border-radius: 5px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    color: #333;
}

.job-description p {
    font-size: 20px;
    font-family: 'Inter';
    line-height: 40px;
    margin-top: 0;
}

.job-description ul {
    font-size: 20px;
    font-family: 'Inter';
    line-height: 30px;
    margin-top: 0;
}

.job-description ul li {
    margin-bottom: 15px;
    /* Adjust the value to set the desired gap */
}

.back-button {
    position: absolute;
    top: 110px;
    left: 20px;
    background-color: #FF5EB2;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Inter';
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: center;
    font-size: 16px;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

.back-button img {
    margin-right: 5px;
    vertical-align: middle;
}


.back-button:hover {
    background-color: #E04C9D;
}