@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter.ttf') format('truetype');
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #FAFAFA;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
}

.header {
    height: 130px;
}

.header-photo {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.header-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    width: 50%;
}

.search-container {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    /* Two equal-width columns and one auto-width column for the button */
    grid-template-rows: auto;
    /* Two rows */
    gap: 15px;
    /* Space between grid items */
    width: 100%;
    /* Full width of the container */
}

.search-column {
    flex-direction: column;
    /* Stack label and input vertically */
    color: #333333;
    display: flex;
}

.search-column label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #fff;
}

.search-column select {
    width: 100%;
    padding: 15px;
    padding-right: 50px;
    /* Increased to accommodate larger arrow */
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    color: #333;
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23666666'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 15px center;
    /* Adjusted position */
    background-size: 1.5em;
    /* Increased from 1em to make the arrow bigger */
    cursor: pointer;
}

.search-column select::-ms-expand {
    display: none;
}

.search-column select option:not(:disabled) {
    color: #333;
}

.search-column input {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    color: #333333;
    font-family: 'Inter', sans-serif;
}

.search-column input:focus,
.search-column select:focus {
    border-color: #333333;
    outline: none;
    color: #333333;
}

.search-column select.placeholder-shown {
    color: #808080;
}

.hidden-class {
    visibility: hidden;
}

button[type="submit"] {
    font-size: 17px;
    color: #fff;
    background-color: #FF5EB2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    align-items: end;
    padding: 15px 20px;
}

button[type="submit"]:hover {
    background-color: #E04E9F;
    /* Slightly darker shade of the background color */
}





@media screen and (max-width: 1600px) {
    .header {
        height: 120px;
    }

    .header-container {
        width: 70%;
    }

    .header-text {
        font-size: 28px;
    }

    .search-column input {
        font-size: 1.2rem;
        padding: 13px 15px;
    }

    .search-column select {
        font-size: 1.2rem;
        padding: 13px 15px;
    }

    button[type="submit"] {
        font-size: 1rem;
        padding: 15px;
    }

}

@media screen and (max-width: 1280px) {
    .header {
        height: 110px;
    }

    .header-container {
        width: 80%;
    }

    .search-column input {
        font-size: 1.1rem;
        padding: 12px 15px;
    }

    .search-column select {
        font-size: 1.1rem;
        padding: 12px 15px;
    }

    button[type="submit"] {
        font-size: 1rem;
        padding: 12px;
    }

}

@media screen and (max-width: 1024px) {
    .header {
        height: 100px;
    }

    .header-container {
        width: 90%;
    }

    .header-text {
        font-size: 22px;
    }

    .search-column input {
        font-size: 1rem;
        padding: 10px 15px;
    }

    .search-column select {
        font-size: 1rem;
        padding: 10px 15px;
    }

    button[type="submit"] {
        font-size: 0.8rem;
        padding: 10px;
    }

}


@media (max-width: 768px) {
    body {
        height: auto;
    }

    .header-photo {
        height: 100px;
    }

    .header-text {
        font-size: 30px;
    }

    .header-container {
        width: 90%;
        padding: 0 20px;
    }

    .mobile-hidden {
        display: none;
    }

    .mobile-hidden-text {
        visibility: hidden;
    }

    .search-container {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 10px;
    }

    .search-column input {
        padding: 10px 15px;
    }

    button[type="submit"] {
        padding: 10px;
        font-size: 1rem;
    }

}

@media screen and (max-width: 1024px) and (min-width: 769px) {

    .header-photo {
        height: 100px;
    }

    .header-container {
        width: 90%;
        padding: 0 20px;
    }

    .mobile-hidden {
        display: none;
    }

    .mobile-hidden-text {
        visibility: hidden;
    }

    .search-container {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 10px;
    }

    .search-column input {
        padding: 10px 15px;
    }

    button[type="submit"] {
        padding: 10px;
        font-size: 1rem;
    }
}


.container {
    /* take remaining space */
    overflow-y: auto;
    /* scrollable */
    height: 100%;
    position: relative;
    /* Ensure proper positioning */
}



.wrapper {
    width: 50%;
    margin: 30px auto;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

}


.job-card {
    background-color: #fff;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.08);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: auto;
    padding-bottom: 30px;
    cursor: pointer;
}

.job-card:hover {
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.07);
    transition: all 0.3s ease-in-out;
}

.job-image img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.job-title>h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #412BAD;
    font-family: 'Inter';
    margin: 10px 0;
}

.job-location {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: #757575;
    font-family: 'Inter';
    font-style: italic;

}

.job-location img {
    margin-right: 5px;
}

.job-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

.job-tag {
    background-color: #412BAD;
    color: #FFF;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 20px;
    font-family: 'Inter';
    font-weight: 500;
}

@media screen and (max-width: 1600px) {
    .wrapper {
        width: 60%;
    }

    .job-card {
        padding: 15px;
        padding-bottom: 20px;
    }

    .job-title>h2 {
        font-size: 1.4rem;
    }

    .job-location {
        font-size: 18px;
    }

    .job-tags {
        gap: 5px;
    }

}

@media screen and (max-width: 1280px) {
    .wrapper {
        width: 70%;
    }

    .job-card {
        padding: 15px;
        padding-bottom: 20px;
    }

    .job-title>h2 {
        font-size: 1.3rem;
    }

    .job-location {
        font-size: 17px;
    }

    .job-tags {
        gap: 5px;
    }

}

@media screen and (max-width: 1120px) {
    .wrapper {
        width: 80%;
    }

    .job-card {
        padding: 15px;
        padding-bottom: 20px;
    }

    .job-title>h2 {
        font-size: 1.2rem;
    }

    .job-location {
        font-size: 16px;
    }

    .job-tags {
        gap: 5px;
    }

}

@media screen and (max-width: 1024px) {
    .wrapper {
        width: 80%;
    }

    .job-card {
        padding: 15px;
        padding-bottom: 20px;
    }

    .job-title>h2 {
        font-size: 1.2rem;
    }

    .job-location {
        font-size: 16px;
    }

    .job-tags {
        gap: 5px;
    }

}

@media screen and (max-width: 768px) {
    body {
        height: 100vh;
        overflow: hidden;
    }

    .container {
        overflow-y: auto;
        width: 100%;
    }

    .wrapper {
        width: 65%;
        margin-bottom: 150px;
    }

    .job-card {
        padding: 15px;
        padding-bottom: 20px;
    }

    .job-title>h2 {
        font-size: 1.2rem;
    }

    .job-location {
        font-size: 16px;
    }

    .job-tags {
        gap: 3px;
    }

    .job-tag {
        font-size: 12px;
        padding: 3px 6px;
    }

    .job-card:hover {
        transform: none;
        transition: none;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.08);
        ;
    }

}