@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter.ttf') format('truetype');
}

body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    background-color: #FAFAFA;
    display: grid;
    grid-template-columns: 220px 1fr;

}

.content {
    color: #333333;
    font-family: 'Inter', sans-serif;
    padding: 20px 60px;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #E7E7E7;
}

@media (max-width: 768px) {
    body {
        grid-template-columns: none;

    }

    .content {
        padding: 10px;
        margin-bottom: 60px;
    }
}